body{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif !important;
    background-color: #f2f2f2;
}

nav{
    position: fixed !important;
    width: 100%;
    z-index: 10;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 18px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand {
        float: left;
        height: 60px !important;
        padding: 5px 35px !important;
        font-size: 15px !important;
        line-height: 30px !important;
        text-align: center;
        font-style: italic;
    }
    .especialidad{
        color: black;
        font-size: 15px !important;
    }
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 15px 37px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    background-color: #3c948b;
    font-style: italic;

}

.navbar-brand:hover{
    background-color: #3c948b !important;
}

.navbar-brand i{
    color: white;
}

.insidecover{
    padding: 10px;
    background-color: #F0F0F0;
    font-size: 16px;
}

.nombre{
    color: white;
}

.especialidad{
    color: black;
    font-size: 20px;
}

.banner{
    width: 100%;
    margin-top: 82px;
}

.imghome{
    text-align: center;
}

.imghome img{
    width: 70%;
}

#resumhome{
    padding-top: 20px;
    padding-bottom: 20px;
}

.curriculumcover{
    padding: 10px;
    background-color: #F0F0F0;
    text-align: center;
    font-size: 18px;
}

#interes{
    padding: 30px;
    background-color: #F0F0F0;
    font-size: 16px;
}

footer{ background-color: #E6E6E6;
        border-color: #FFFFFF;
        border-width: 20px;
        height: 7em;
        margin-top: 55px;
        clear: both;
        border-top: 2px solid #848484;
        font: normal normal 16px "Ubuntu",sans-serif;
        color: #2E2E2E;
        text-decoration: none;
}

#contac-ubic{text-align: center;}

#fin{   height:35px;
        border-top: 1px solid #848484;
        font: normal normal 13.5px "Ubuntu",sans-serif;
        color: #2E2E2E;
        background-color: #E6E6E6;
}

#pag {  margin-top: -5px;
        color:#A4A4A4;
}
